// Palettes
// --------------------------------------------------------------------------

// Red
$list-red:                             #ffebee, #ffcdd2, #ef9a9a, #e57373, #ef5350,
                                       #f44336, #e53935, #d32f2f, #c62828, #b71c1c,
                                       #ff8a80, #ff5252, #ff1744, #d50000;

// Pink
$list-pink:                            #fce4ec, #f8bbd0, #f48fb1, #f06292, #ec407a,
                                       #e91e63, #d81b60, #c2185b, #ad1457, #880e4f,
                                       #ff80ab, #ff4081, #f50057, #c51162;

// Purple
$list-purple:                          #f3e5f5, #e1bee7, #ce93d8, #ba68c8, #ab47bc,
                                       #9c27b0, #8e24aa, #7b1fa2, #6a1b9a, #4a148c,
                                       #ea80fc, #e040fb, #d500f9, #aa00ff;

// Deep Purple
$list-deep-purple:                     #ede7f6, #d1c4e9, #b39ddb, #9575cd, #7e57c2,
                                       #673ab7, #5e35b1, #512da8, #4527a0, #311b92,
                                       #b388ff, #7c4dff, #651fff, #6200ea;

// Indigo
$list-indigo:                          #e8eaf6, #c5cae9, #9fa8da, #7986cb, #5c6bc0,
                                       #3f51b5, #3949ab, #303f9f, #283593, #1a237e,
                                       #8c9eff, #536dfe, #3d5afe, #304ffe;

// Blue
$list-blue:                            #e3f2fd, #bbdefb, #90caf9, #64b5f6, #42a5f5,
                                       #2196f3, #1e88e5, #1976d2, #1565c0, #0d47a1,
                                       #82b1ff, #448aff, #2979ff, #2962ff;

// Light Blue
$list-light-blue:                      #e1f5fe, #b3e5fc, #81d4fa, #4fc3f7, #29b6f6,
                                       #03a9f4, #039be5, #0288d1, #0277bd, #01579b,
                                       #80d8ff, #40c4ff, #00b0ff, #0091ea;

// Cyan
$list-cyan:                            #e0f7fa, #b2ebf2, #80deea, #4dd0e1, #26c6da,
                                       #00bcd4, #00acc1, #0097a7, #00838f, #006064,
                                       #84ffff, #18ffff, #00e5ff, #00b8d4;

// Teal
$list-teal:                            #e0f2f1, #b2dfdb, #80cbc4, #4db6ac, #26a69a,
                                       #009688, #00897b, #00796b, #00695c, #004d40,
                                       #a7ffeb, #64ffda, #1de9b6, #00bfa5;

// Green
$list-green:                           #e8f5e9, #c8e6c9, #a5d6a7, #81c784, #66bb6a,
                                       #4caf50, #43a047, #388e3c, #2e7d32, #1b5e20,
                                       #b9f6ca, #69f0ae, #00e676, #00c853;

// Light Green
$list-light-green:                     #f1f8e9, #dcedc8, #c5e1a5, #aed581, #9ccc65,
                                       #8bc34a, #7cb342, #689f38, #558b2f, #33691e,
                                       #ccff90, #b2ff59, #76ff03, #64dd17;

// Lime
$list-lime:                            #f9fbe7, #f0f4c3, #e6ee9c, #dce775, #d4e157,
                                       #cddc39, #c0ca33, #afb42b, #9e9d24, #827717,
                                       #f4ff81, #eeff41, #c6ff00, #aeea00;

// Yellow
$list-yellow:                          #fffde7, #fff9c4, #fff59d, #fff176, #ffee58,
                                       #ffeb3b, #fdd835, #fbc02d, #f9a825, #f57f17,
                                       #ffff8d, #ffff00, #ffea00, #ffd600;

// Amber
$list-amber:                           #fff8e1, #ffecb3, #ffe082, #ffd54f, #ffca28,
                                       #ffc107, #ffb300, #ffa000, #ff8f00, #ff6f00,
                                       #ffe57f, #ffd740, #ffc400, #ffab00;

// Orange
$list-orange:                          #fff3e0, #ffe0b2, #ffcc80, #ffb74d, #ffa726,
                                       #ff9800, #fb8c00, #f57c00, #ef6c00, #e65100,
                                       #ffd180, #ffab40, #ff9100, #ff6d00;

// Deep Orange
$list-deep-orange:                           #fbe9e7, #ffccbc, #ffab91, #ff8a65, #ff7043,
                                       #ff5722, #f4511e, #e64a19, #d84315, #bf360c,
                                       #ff9e80, #ff6e40, #ff3d00, #dd2c00;

// Brown
$list-brown:                           #efebe9, #d7ccc8, #bcaaa4, #a1887f, #8d6e63,
                                       #795548, #6d4c41, #5d4037, #4e342e, #3e2723;

// Grey
$list-grey:                            #fafafa, #f5f5f5, #eeeeee, #e0e0e0, #bdbdbd,
                                       #9e9e9e, #757575, #616161, #424242, #212121;

// Blue Grey
$list-blue-grey:                       #eceff1, #cfd8dc, #b0bec5, #90a4ae, #78909c,
                                       #607d8b, #546e7a, #455a64, #37474f, #263238;


$clr-white: #ffffff;
$clr-black: #111111;


// Definitions
// --------------------------------------------------------------------------

// Red
$clr-red: nth($list-red, 6);

$clr-red-50: nth($list-red, 1);
$clr-red-100: nth($list-red, 2);
$clr-red-200: nth($list-red, 3);
$clr-red-300: nth($list-red, 4);
$clr-red-400: nth($list-red, 5);
$clr-red-500: nth($list-red, 6);
$clr-red-600: nth($list-red, 7);
$clr-red-700: nth($list-red, 8);
$clr-red-800: nth($list-red, 9);
$clr-red-900: nth($list-red, 10);
$clr-red-A100: nth($list-red, 11);
$clr-red-A200: nth($list-red, 12);
$clr-red-A400: nth($list-red, 13);
$clr-red-A700: nth($list-red, 14);


// Pink
$clr-pink: nth($list-pink, 6);

$clr-pink-50: nth($list-pink, 1);
$clr-pink-100: nth($list-pink, 2);
$clr-pink-200: nth($list-pink, 3);
$clr-pink-300: nth($list-pink, 4);
$clr-pink-400: nth($list-pink, 5);
$clr-pink-500: nth($list-pink, 6);
$clr-pink-600: nth($list-pink, 7);
$clr-pink-700: nth($list-pink, 8);
$clr-pink-800: nth($list-pink, 9);
$clr-pink-900: nth($list-pink, 10);
$clr-pink-A100: nth($list-pink, 11);
$clr-pink-A200: nth($list-pink, 12);
$clr-pink-A400: nth($list-pink, 13);
$clr-pink-A700: nth($list-pink, 14);


// Purple
$clr-purple: nth($list-purple, 6);

$clr-purple-50: nth($list-purple, 1);
$clr-purple-100: nth($list-purple, 2);
$clr-purple-200: nth($list-purple, 3);
$clr-purple-300: nth($list-purple, 4);
$clr-purple-400: nth($list-purple, 5);
$clr-purple-500: nth($list-purple, 6);
$clr-purple-600: nth($list-purple, 7);
$clr-purple-700: nth($list-purple, 8);
$clr-purple-800: nth($list-purple, 9);
$clr-purple-900: nth($list-purple, 10);
$clr-purple-A100: nth($list-purple, 11);
$clr-purple-A200: nth($list-purple, 12);
$clr-purple-A400: nth($list-purple, 13);
$clr-purple-A700: nth($list-purple, 14);


// Deep Purple
$clr-deep-purple: nth($list-deep-purple, 6);

$clr-deep-purple-50: nth($list-deep-purple, 1);
$clr-deep-purple-100: nth($list-deep-purple, 2);
$clr-deep-purple-200: nth($list-deep-purple, 3);
$clr-deep-purple-300: nth($list-deep-purple, 4);
$clr-deep-purple-400: nth($list-deep-purple, 5);
$clr-deep-purple-500: nth($list-deep-purple, 6);
$clr-deep-purple-600: nth($list-deep-purple, 7);
$clr-deep-purple-700: nth($list-deep-purple, 8);
$clr-deep-purple-800: nth($list-deep-purple, 9);
$clr-deep-purple-900: nth($list-deep-purple, 10);
$clr-deep-purple-A100: nth($list-deep-purple, 11);
$clr-deep-purple-A200: nth($list-deep-purple, 12);
$clr-deep-purple-A400: nth($list-deep-purple, 13);
$clr-deep-purple-A700: nth($list-deep-purple, 14);


// Indigo
$clr-indigo: nth($list-indigo, 6);

$clr-indigo-50: nth($list-indigo, 1);
$clr-indigo-100: nth($list-indigo, 2);
$clr-indigo-200: nth($list-indigo, 3);
$clr-indigo-300: nth($list-indigo, 4);
$clr-indigo-400: nth($list-indigo, 5);
$clr-indigo-500: nth($list-indigo, 6);
$clr-indigo-600: nth($list-indigo, 7);
$clr-indigo-700: nth($list-indigo, 8);
$clr-indigo-800: nth($list-indigo, 9);
$clr-indigo-900: nth($list-indigo, 10);
$clr-indigo-A100: nth($list-indigo, 11);
$clr-indigo-A200: nth($list-indigo, 12);
$clr-indigo-A400: nth($list-indigo, 13);
$clr-indigo-A700: nth($list-indigo, 14);


// Blue
$clr-blue: nth($list-blue, 6);

$clr-blue-50: nth($list-blue, 1);
$clr-blue-100: nth($list-blue, 2);
$clr-blue-200: nth($list-blue, 3);
$clr-blue-300: nth($list-blue, 4);
$clr-blue-400: nth($list-blue, 5);
$clr-blue-500: nth($list-blue, 6);
$clr-blue-600: nth($list-blue, 7);
$clr-blue-700: nth($list-blue, 8);
$clr-blue-800: nth($list-blue, 9);
$clr-blue-900: nth($list-blue, 10);
$clr-blue-A100: nth($list-blue, 11);
$clr-blue-A200: nth($list-blue, 12);
$clr-blue-A400: nth($list-blue, 13);
$clr-blue-A700: nth($list-blue, 14);


// Light Blue
$clr-light-blue: nth($list-light-blue, 6);

$clr-light-blue-50: nth($list-light-blue, 1);
$clr-light-blue-100: nth($list-light-blue, 2);
$clr-light-blue-200: nth($list-light-blue, 3);
$clr-light-blue-300: nth($list-light-blue, 4);
$clr-light-blue-400: nth($list-light-blue, 5);
$clr-light-blue-500: nth($list-light-blue, 6);
$clr-light-blue-600: nth($list-light-blue, 7);
$clr-light-blue-700: nth($list-light-blue, 8);
$clr-light-blue-800: nth($list-light-blue, 9);
$clr-light-blue-900: nth($list-light-blue, 10);
$clr-light-blue-A100: nth($list-light-blue, 11);
$clr-light-blue-A200: nth($list-light-blue, 12);
$clr-light-blue-A400: nth($list-light-blue, 13);
$clr-light-blue-A700: nth($list-light-blue, 14);


// Cyan
$clr-cyan: nth($list-cyan, 6);

$clr-cyan-50: nth($list-cyan, 1);
$clr-cyan-100: nth($list-cyan, 2);
$clr-cyan-200: nth($list-cyan, 3);
$clr-cyan-300: nth($list-cyan, 4);
$clr-cyan-400: nth($list-cyan, 5);
$clr-cyan-500: nth($list-cyan, 6);
$clr-cyan-600: nth($list-cyan, 7);
$clr-cyan-700: nth($list-cyan, 8);
$clr-cyan-800: nth($list-cyan, 9);
$clr-cyan-900: nth($list-cyan, 10);
$clr-cyan-A100: nth($list-cyan, 11);
$clr-cyan-A200: nth($list-cyan, 12);
$clr-cyan-A400: nth($list-cyan, 13);
$clr-cyan-A700: nth($list-cyan, 14);


// Teal
$clr-teal: nth($list-teal, 6);

$clr-teal-50: nth($list-teal, 1);
$clr-teal-100: nth($list-teal, 2);
$clr-teal-200: nth($list-teal, 3);
$clr-teal-300: nth($list-teal, 4);
$clr-teal-400: nth($list-teal, 5);
$clr-teal-500: nth($list-teal, 6);
$clr-teal-600: nth($list-teal, 7);
$clr-teal-700: nth($list-teal, 8);
$clr-teal-800: nth($list-teal, 9);
$clr-teal-900: nth($list-teal, 10);
$clr-teal-A100: nth($list-teal, 11);
$clr-teal-A200: nth($list-teal, 12);
$clr-teal-A400: nth($list-teal, 13);
$clr-teal-A700: nth($list-teal, 14);


// Green
$clr-green: nth($list-green, 6);

$clr-green-50: nth($list-green, 1);
$clr-green-100: nth($list-green, 2);
$clr-green-200: nth($list-green, 3);
$clr-green-300: nth($list-green, 4);
$clr-green-400: nth($list-green, 5);
$clr-green-500: nth($list-green, 6);
$clr-green-600: nth($list-green, 7);
$clr-green-700: nth($list-green, 8);
$clr-green-800: nth($list-green, 9);
$clr-green-900: nth($list-green, 10);
$clr-green-A100: nth($list-green, 11);
$clr-green-A200: nth($list-green, 12);
$clr-green-A400: nth($list-green, 13);
$clr-green-A700: nth($list-green, 14);


// Light Green
$clr-light-green: nth($list-light-green, 6);

$clr-light-green-50: nth($list-light-green, 1);
$clr-light-green-100: nth($list-light-green, 2);
$clr-light-green-200: nth($list-light-green, 3);
$clr-light-green-300: nth($list-light-green, 4);
$clr-light-green-400: nth($list-light-green, 5);
$clr-light-green-500: nth($list-light-green, 6);
$clr-light-green-600: nth($list-light-green, 7);
$clr-light-green-700: nth($list-light-green, 8);
$clr-light-green-800: nth($list-light-green, 9);
$clr-light-green-900: nth($list-light-green, 10);
$clr-light-green-A100: nth($list-light-green, 11);
$clr-light-green-A200: nth($list-light-green, 12);
$clr-light-green-A400: nth($list-light-green, 13);
$clr-light-green-A700: nth($list-light-green, 14);


// Lime
$clr-lime: nth($list-lime, 6);

$clr-lime-50: nth($list-lime, 1);
$clr-lime-100: nth($list-lime, 2);
$clr-lime-200: nth($list-lime, 3);
$clr-lime-300: nth($list-lime, 4);
$clr-lime-400: nth($list-lime, 5);
$clr-lime-500: nth($list-lime, 6);
$clr-lime-600: nth($list-lime, 7);
$clr-lime-700: nth($list-lime, 8);
$clr-lime-800: nth($list-lime, 9);
$clr-lime-900: nth($list-lime, 10);
$clr-lime-A100: nth($list-lime, 11);
$clr-lime-A200: nth($list-lime, 12);
$clr-lime-A400: nth($list-lime, 13);
$clr-lime-A700: nth($list-lime, 14);


//Yellow
$clr-yellow: nth($list-yellow, 6);

$clr-yellow-50: nth($list-yellow, 1);
$clr-yellow-100: nth($list-yellow, 2);
$clr-yellow-200: nth($list-yellow, 3);
$clr-yellow-300: nth($list-yellow, 4);
$clr-yellow-400: nth($list-yellow, 5);
$clr-yellow-500: nth($list-yellow, 6);
$clr-yellow-600: nth($list-yellow, 7);
$clr-yellow-700: nth($list-yellow, 8);
$clr-yellow-800: nth($list-yellow, 9);
$clr-yellow-900: nth($list-yellow, 10);
$clr-yellow-A100: nth($list-yellow, 11);
$clr-yellow-A200: nth($list-yellow, 12);
$clr-yellow-A400: nth($list-yellow, 13);
$clr-yellow-A700: nth($list-yellow, 14);


// Amber
$clr-amber: nth($list-amber, 6);

$clr-amber-50: nth($list-amber, 1);
$clr-amber-100: nth($list-amber, 2);
$clr-amber-200: nth($list-amber, 3);
$clr-amber-300: nth($list-amber, 4);
$clr-amber-400: nth($list-amber, 5);
$clr-amber-500: nth($list-amber, 6);
$clr-amber-600: nth($list-amber, 7);
$clr-amber-700: nth($list-amber, 8);
$clr-amber-800: nth($list-amber, 9);
$clr-amber-900: nth($list-amber, 10);
$clr-amber-A100: nth($list-amber, 11);
$clr-amber-A200: nth($list-amber, 12);
$clr-amber-A400: nth($list-amber, 13);
$clr-amber-A700: nth($list-amber, 14);


// Orange
$clr-orange: nth($list-orange, 6);

$clr-orange-50: nth($list-orange, 1);
$clr-orange-100: nth($list-orange, 2);
$clr-orange-200: nth($list-orange, 3);
$clr-orange-300: nth($list-orange, 4);
$clr-orange-400: nth($list-orange, 5);
$clr-orange-500: nth($list-orange, 6);
$clr-orange-600: nth($list-orange, 7);
$clr-orange-700: nth($list-orange, 8);
$clr-orange-800: nth($list-orange, 9);
$clr-orange-900: nth($list-orange, 10);
$clr-orange-A100: nth($list-orange, 11);
$clr-orange-A200: nth($list-orange, 12);
$clr-orange-A400: nth($list-orange, 13);
$clr-orange-A700: nth($list-orange, 14);


// Deep Orange
$clr-deep-orange: nth($list-deep-orange, 6);

$clr-deep-orange-50: nth($list-deep-orange, 1);
$clr-deep-orange-100: nth($list-deep-orange, 2);
$clr-deep-orange-200: nth($list-deep-orange, 3);
$clr-deep-orange-300: nth($list-deep-orange, 4);
$clr-deep-orange-400: nth($list-deep-orange, 5);
$clr-deep-orange-500: nth($list-deep-orange, 6);
$clr-deep-orange-600: nth($list-deep-orange, 7);
$clr-deep-orange-700: nth($list-deep-orange, 8);
$clr-deep-orange-800: nth($list-deep-orange, 9);
$clr-deep-orange-900: nth($list-deep-orange, 10);
$clr-deep-orange-A100: nth($list-deep-orange, 11);
$clr-deep-orange-A200: nth($list-deep-orange, 12);
$clr-deep-orange-A400: nth($list-deep-orange, 13);
$clr-deep-orange-A700: nth($list-deep-orange, 14);


// Brown
$clr-brown: nth($list-brown, 6);

$clr-brown-50: nth($list-brown, 1);
$clr-brown-100: nth($list-brown, 2);
$clr-brown-200: nth($list-brown, 3);
$clr-brown-300: nth($list-brown, 4);
$clr-brown-400: nth($list-brown, 5);
$clr-brown-500: nth($list-brown, 6);
$clr-brown-600: nth($list-brown, 7);
$clr-brown-700: nth($list-brown, 8);
$clr-brown-800: nth($list-brown, 9);
$clr-brown-900: nth($list-brown, 10);


// Grey
$clr-grey: nth($list-grey, 6);

$clr-grey-50: nth($list-grey, 1);
$clr-grey-100: nth($list-grey, 2);
$clr-grey-200: nth($list-grey, 3);
$clr-grey-300: nth($list-grey, 4);
$clr-grey-400: nth($list-grey, 5);
$clr-grey-500: nth($list-grey, 6);
$clr-grey-600: nth($list-grey, 7);
$clr-grey-700: nth($list-grey, 8);
$clr-grey-800: nth($list-grey, 9);
$clr-grey-900: nth($list-grey, 10);


// Blue Grey
$clr-blue-grey: nth($list-blue-grey, 6);

$clr-blue-grey-50: nth($list-blue-grey, 1);
$clr-blue-grey-100: nth($list-blue-grey, 2);
$clr-blue-grey-200: nth($list-blue-grey, 3);
$clr-blue-grey-300: nth($list-blue-grey, 4);
$clr-blue-grey-400: nth($list-blue-grey, 5);
$clr-blue-grey-500: nth($list-blue-grey, 6);
$clr-blue-grey-600: nth($list-blue-grey, 7);
$clr-blue-grey-700: nth($list-blue-grey, 8);
$clr-blue-grey-800: nth($list-blue-grey, 9);
$clr-blue-grey-900: nth($list-blue-grey, 10);

$clr-border: $clr-grey-100;

$clr-vue-blue: #2c3e50;
$clr-vue-green: #41b883;