
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');

$font-head: "Source Sans Pro", sans-serif;
$font-sans: "Source Sans Pro", sans-serif;
$font-mono: "Roboto Mono", monospace;
