// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Roboto+Mono:400,500,700|Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

$font-head: "Source Sans Pro", "Lato", sans-serif;
$font-sans: "Source Sans Pro", "Lato", sans-serif;
$font-mono: "Roboto Mono", monospace;
